.react-multi-carousel-dot-list {
  backdrop-filter: blur(4px);
  border: 0.5px solid rgba(180, 180, 180, 1);
  border-radius: 30px;
  padding: 4px 10px !important;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-inline: auto;
  justify-content: center;
  left: 30% !important;
  bottom: 10px !important;
}

.react-multiple-carousel__arrow {
  background-color: white !important;
}

.react-multiple-carousel__arrow::before {
  color: black !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
